body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color:#4372b1;
  text-align: center;
  color: white;
}

.add {
  width: 8%;
  background: #4372b1;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

.clear {
  width: 8%;
  background: #4372b1;
  color: rgb(255, 255, 255);
  margin-right: 1%;
  margin-top: 20px;
}

.clearall {
  width: 8%;
  background: #4372b1;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

ul li{
  cursor:pointer;
  user-select: none;
  position: relative;
  padding-block-start: 12px;
  padding-block-end: 12px;
  list-style-type: none;
  background: #4372b1;
  font-size: 16px;
  transition: 0.2s;
  text-align: center;
  color: rgb(255, 255, 255);
}

ul {
  background: #4372b1;
}
ul li:hover {
  background: #1f559c;
}
ul:hover{
  background: #4372b1;

}
ul li.checked {
  background: #a2b9d6;
  color: rgb(7, 7, 7);
  text-decoration: line-through;
}
